/* Root */
:root {
    --lightcyan: #B4D0E7;
    --blue: #0061FF;
    --green: #A2D39B;
    --burgundy: #61082B;
    --orange: #FF1C1C;
    --cyan: #0093CE;
    --red: #D5001F;
    --darkblue: #0D2481;
    --grey: #F5F5F5;
    --yellow: #FFD830;
    --bordercolor: #C4C4C4;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
}

header a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}

img {
    height: 100%;
}

/* Utils */

.container-jf {       /* jumbotron e footer */
    width: 1000px;
    margin: 0 auto;
}

.container-m {        /* main */
    width: 800px;
    margin: 0 auto;
}

.d-inbl {
    display: inline-block;
}

.txt-rgt {
    text-align: right;
}

.mgl-20p {
    margin-left: 20px;
}

.mgr-20p {
    margin-right: 20px;
}

.p-rel {
    position: relative;
}

/* Flexbox Utils */
.d-flex {
    display: flex;
}

.fd-col {
    flex-direction: column;
}

.j-cont-end {
    justify-content: end;
}

.al-ctr {
    align-items: center;
}

.sp-btw {
    justify-content: space-between;
}

.fb-30 {
    flex-basis: 30%;
}

.fb-70 {
    flex-basis: 70%;
}

.h-100 {
    height: calc(100% - 100px);
}

/* Header */
header.nav {
    background-color: white;
    height: 70px;
    padding: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#log-in {
    background-color: white;
    border: 0;
    margin-right: 10px;
}

#sign-in {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    background-color: var(--blue);
}

.logo img {
    height: 20px;
}

.logo {
    padding-top: 10px ;
}

header.jumbotron {
    background-color: var(--lightcyan);
    height: 600px;
    padding-top: 70px;
}

header h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
}

.out-border {
    position: absolute;
    height: 120%;
    top: 0;
    left: 0;
}

