/* Root */
:root {
    --lightcyan: #B4D0E7;
    --blue: #0061FF;
    --green: #A2D39B;
    --burgundy: #61082B;
    --orange: #FF1C1C;
    --cyan: #0093CE;
    --red: #D5001F;
    --darkblue: #0D2481;
    --grey: #F5F5F5;
    --yellow: #FFD830;
    --bordercolor: #C4C4C4;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */

body {
    font-family: 'Open Sans', sans-serif;
}

header a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}

/* Utils */

.container-jf {       /* jumbotron e footer */
    width: 1200px;
    margin: 0 auto;
}

.container-m {        /* main */
    width: 1100px;
    margin: 0 auto;
}

.d-inbl {
    display: inline-block;
}

.txt-rgt {
    text-align: right;
}

.d-flex {
    display: flex;
}

.al-ctr {
    align-items: center;
}

.sp-btw{
    justify-content: space-between;
}

.mgl-20p {
    margin-left: 20px;
}

.mgr-20p {
    margin-right: 20px;
}

/* Header */
header.nav {
    background-color: white;
    height: 70px;
    padding: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#log-in {
    background-color: white;
    border: 0;
    margin-right: 10px;
}

#sign-in {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    background-color: var(--blue);
}

.logo img {
    height: 20px;
}

.logo {
    padding-top: 10px ;
}