/* Root */
:root {
    --lightcyan: #B4D0E7;
    --blue: #0061FF;
    --green: #A2D39B;
    --burgundy: #61082B;
    --orange: #FF1C1C;
    --cyan: #0093CE;
    --red: #D5001F;
    --darkblue: #0D2481;
    --grey: #F5F5F5;
    --yellow: #FFD830;
    --bordercolor: #C4C4C4;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
    height: 6000px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-size: 12px;
}

span a{
    text-decoration: underline;
    font-size: 11px;
    color: #8282F7;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

section {
    margin-bottom: 100px;
}

/* Utils */
.container-jf {       /* jumbotron e footer */
    width: 1000px;
    margin: 0 auto;
}

.container-m {        /* main */
    width: 800px;
    margin: 0 auto;
}

.d-inbl {
    display: inline-block;
}

.txt-rgt {
    text-align: right;
}

.mgl-20p {
    margin-left: 20px;
}

.mgr-20p {
    margin-right: 20px;
}

.mgb-30p {
    margin-bottom: 30px;
}

.p-rel {
    position: relative;
}

.h-100 {
    height: calc(100% - 100px);
}

/* Flexbox Utils */
.d-flex {
    display: flex;
}

.fd-col {
    flex-direction: column;
}

.j-cont-end {
    justify-content: end;
}

.al-ctr {
    align-items: center;
}

.sp-btw {
    justify-content: space-between;
}

.al-bas {
    align-items: baseline;
}

.wrap {
    flex-wrap: wrap;
}

.fb-30 {
    flex-basis: 30%;
}

.fb-40 {
    flex-basis: 40%;
}

.fb-60 {
    flex-basis: 60%;
}

.fb-70 {
    flex-basis: 70%;
}

.fb-100 {
    flex-basis: 100%;
}

/* Header */
header.nav {
    background-color: white;
    height: 70px;
    padding: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#log-in {
    background-color: white;
    border: 0;
    margin-right: 10px;
}

#sign-in {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    background-color: var(--blue);
}

.logo img {
    height: 20px;
}

.logo {
    padding-top: 10px ;
}

header.jumbotron {
    background-color: var(--lightcyan);
    height: 600px;
    padding-top: 70px;
    margin-bottom: 110px;
}

header h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
}

.out-border {
    position: absolute;
    height: 120%;
    top: 0;
    left: 0;
}

/* Main */

section h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

/* Section plans */
.circle {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 2px;
}

.circle.blue {
    border: 5px solid var(--blue);
}

.billing span {
    font-size: 12px;
    margin-right: 30px;
    line-height: 30px;
}

.plans {
    border: 1px solid var(--bordercolor);
    font-size: 12px;
    margin-top: 30px;
}

.type {
    padding: 5px;
    border-bottom: 1px solid var(--bordercolor);
    text-align: center;
}

.content-pln {
    padding: 30px 25px;
}

.plans hr {
    width: 35px;
    margin: 30px 0;
    background-color: var(--bordercolor);
}

.prova {
    width: 188px;
    background-color: var(--blue);
    color: white;
    padding: 8px 20px;
    text-align: center;
}

.partner {
    padding: 35px 25px;
}

.partner a {
    padding: 4px 10px;
    border: 1px solid black;
    margin-top: 20px;
}

